.wrapper {
    background-color: #474747;
    padding: 20px;
    width: 165px;
}

textarea {
    background-color: transparent;
    resize: none;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #fff;
}

textarea:focus,
textarea:active {
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
}

.line-active {
    border-bottom: 2px solid #d1a73c;
}

.line-disabled {
    border-bottom: 1px solid #797979;
}

.custom-textarea {
    overflow: hidden;
    -webkit-transition: max-height 0.7s;
    -moz-transition: max-height 0.7s;
    -ms-transition: max-height 0.7s;
    -o-transition: max-height 0.7s;
    transition: max-height 0.7s;
}